@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  color: #ffffff;
  background-color: #131316;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

section {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.logos {
  display: flex;
}

.logo {
  width: 9.375rem;
  height: 9.375rem;
  margin: 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}
.logo:nth-child(3) {
  transition-delay: 200ms;
}
.logo:nth-child(4) {
  transition-delay: 200ms;
}

@media (prefers-reduced-animation) {
  .hidden {
    transition: none;
  }
}
